<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="LogFileName"
			value="MainLog.log"/>

		<add key="PlatformToolsDownloadLink" 
			 value="https://dl.google.com/android/repository/platform-tools-latest-windows.zip"/>
		<add key="AndroidPlatformToolsFolderPath" 
			 value="Tools/Android/platform-tools"/>
		
		<add key="Aapt2FolderPath" 
			 value="Tools/Android/aapt2"/>
		<add key="Aapt2DownloadLink" 
			 value="https://dl.google.com/dl/android/maven2/com/android/tools/build/aapt2/3.2.0-alpha18-4804415/aapt2-3.2.0-alpha18-4804415-windows.jar"/>

		<add key="DeviceLogEnabled"
			value="True"/>
		<add key="DeviceLogBufferSize"
			value="10"/>
		<add key="DeviceLogDefaultFolderName"
			value="DeviceLog"/>
		<add key="DeviceLogFolderPath"
			value=""/>
		
		<add key="GoogleDriveApiKey"
			value="AIzaSyCmHbWyI3mhk4cV4LR1XUm4GWLiBqdjIoI"/>
	</appSettings>
</configuration>