<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Aapt2DownloadLink" type="System.Configuration.AppSettingsSection" />
		<section name="AndroidPlatformToolsDownloadLink" type="System.Configuration.AppSettingsSection" />
	</configSections>

	<Aapt2DownloadLink>
		<add key="Windows"
			 value="https://dl.google.com/dl/android/maven2/com/android/tools/build/aapt2/3.2.0-alpha18-4804415/aapt2-3.2.0-alpha18-4804415-windows.jar"/>
		<add key="OSx"
			 value="https://dl.google.com/dl/android/maven2/com/android/tools/build/aapt2/3.2.0-alpha18-4804415/aapt2-3.2.0-alpha18-4804415-osx.jar"/>
		<add key="Linux"
			 value="https://dl.google.com/dl/android/maven2/com/android/tools/build/aapt2/3.2.0-alpha18-4804415/aapt2-3.2.0-alpha18-4804415-linux.jar"/>
	</Aapt2DownloadLink>

	<AndroidPlatformToolsDownloadLink>
		<add key="Windows"
			 value="https://dl.google.com/android/repository/platform-tools_r33.0.3-windows.zip"/>
		<add key="OSx"
			 value="https://dl.google.com/android/repository/platform-tools_r33.0.3-darwin.zip"/>
		<add key="Linux"
			 value="https://dl.google.com/android/repository/platform-tools_r33.0.3-linux.zip"/>		
	</AndroidPlatformToolsDownloadLink>

	<appSettings>
		<add key="Aapt2FolderPath"
			 value="Tools/Android/aapt2"/>
		<add key="AndroidPlatformToolsFolderPath"
			 value="Tools/Android/platform-tools"/>
		
		<add key="DeviceLogEnabled"
			value="True"/>
		<add key="DeviceLogBufferSize"
			value="10"/>
		<add key="DeviceLogDefaultFolderName"
			value="DeviceLog"/>
		<add key="DeviceLogFolderPath"
			value=""/>
		
		<add key="GoogleDriveApiKey"
			value="AIzaSyCmHbWyI3mhk4cV4LR1XUm4GWLiBqdjIoI"/>

		<add key="DiskCacheFileName"
			value="DiskCache.txt"/>
		<add key="LogFileName"
			value="UnmistakableAPKInstallerLog.log"/>
		<add key="AutoDelPrevApp"
			value="True"/>
	</appSettings>
</configuration>